body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*For fixing footer */
.container{
    flex: 1;
}


.navbar {
    height: 5rem;
}
.fa-compass{
    color: #f70a1a;
    font-size: 2rem;
    opacity: 0.5;
}
.fa-compass:hover{
    color: #f70a1a;
    font-size: 2rem;
    opacity: 1;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/*card*/
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;

}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/*Card Hover*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/*For new page*/
.add-btn{
    background-color: #f70a1a;
    border: none !important;
}

/*Show image*/
.show-img{
    height: 30vh;
}