/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  display: flex;
  height: 6rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*card*/
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}

/*Card Hover*/
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/*Show image*/
.show-img {
  height: 30vh;
}

/* Show Page */
.showBTN {
  display: flex;
  justify-content: space-between;
}
