<% layout("Layouts/boilerplate") %>
<body>
    <h2>ALL Listings</h2>
    <form method="GET" action="/Listings/new">
        <button>Create New Listing </button>
    </form>
    <ul>
        <% for(listing of allListing){ %>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
        <%}%>
    </ul>
</body>
